.loginDesign {
    height: 88vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.footer {
    height: 30vh;
    width: 100vw;
    gap: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: red;
    color: white;
    font-weight: bolder;
    width: max-content;
    border-radius: 2em;
    padding: 1em;
}