.serviceDesign {
    /* height: 84vh;
    width: 100vw; */
    /* height: 58vh; */
    width: 700%;
    /* background-color: blueviolet; */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container {
    padding: 0 0px;
    margin: 0 auto;
}

.cards {
    display: flex;
    padding: 8px 0px;

    list-style: none;
    overflow-x: scroll;
    overflow-y: hidden;
    /* width: 54vh; */

    /* width: auto; */
    scroll-snap-type: x mandatory;
}