@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Lancelot&family=New+Rocker&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Pirata+One&display=swap');

.profileDesign {
    height: 88vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: "New Rocker", system-ui;
    font-weight: 400;
}

.title {
    font-size: 2em;

}

.boxProfile {
    border-radius: .5em;
    /* border: 1px solid gray; */
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.rowName {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.rowLastName {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.rowEmail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer {
    height: 30vh;
    width: 100vw;
    gap: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error {
    display: flex;
    flex-direction: column;
    background-color: red;
    justify-content: center;
    color: white;
    font-weight: 400;
    width: max-content;
    border-radius: 2em;
    padding: 1em;
}

.success {
    background-color: green;
}

h1 {
    color: whitesmoke;
    text-shadow: fuchsia 2px 0 20px;
}