/* .profileDesign {

    height: 88vh;
    width: 100vw;

    background-color: beige;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */
.profileDesign {
    height: 88vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error {
    background-color: red;
    color: white;
    font-weight: 400;
    width: max-content;
    border-radius: 2em;
    padding: 1em;
}

.success {
    background-color: green;
}