.loginButton {
    padding: .5rem 2rem;
    height: 2.5em;
    width: 15em;
    margin: 1em;
    text-transform: uppercase;
    font-weight: 500;
    font-size: medium;
    background-color: deeppink;
    border-radius: 2em;
    transition: 0.4s;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 60px grey;
}

.loginButton:hover {

    cursor: pointer;
    transition: 0.3s;
    box-shadow: 10px 10px 60px fuchsia;
}

.editButton {
    background-color: blue;
    box-shadow: 10px 10px 40px rgb(0, 0, 175);
    color: whitesmoke;
}

.editButton:hover {

    cursor: pointer;
    transition: 0.3s;
    box-shadow: 10px 10px 60px blue;
}

.updateData {
    background-color: green;
    /* background-color: greenyellow; */
    color: aliceblue;
    box-shadow: 10px 10px 60px rgba(0, 128, 0, 0.743);
}

.updateData:hover {

    cursor: pointer;
    transition: 0.3s;
    box-shadow: 10px 10px 60px green;
}

.cardButton {
    padding: .5rem .5rem;
    height: 2.5em;
    width: 9em;
    margin: 1em;
    /* border: 1px solid #ffffff40; */
    box-shadow: 1.5px 1.5px 5px 0px rgba(255, 0, 238, 0.341);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
    font-weight: 400;
    text-transform: uppercase;
}

.cardButton:hover {
    box-shadow: 10px 10px 60px fuchsia;
    transition: 0.4s;
}