.loginButton {
    padding: .5rem 2rem;
    height: 2.5em;
    width: 15em;
    margin: 1em;
    text-transform: uppercase;
    font-weight: 900;
    font-size: medium;
    background-color: deeppink;
    border-radius: 2em;
    transition: 0.4s;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 60px grey;
}

.loginButton:hover {

    cursor: pointer;
    transition: 0.3s;
    box-shadow: 10px 10px 60px fuchsia;
}

.updateData {
    background-color: blue;
    color: aliceblue;
}

.updateData:hover {

    cursor: pointer;
    transition: 0.3s;
    box-shadow: 10px 10px 60px blue;
}

.cButtonDesign {

    height: 3em;
    width: 18em;

    border-radius: 0.5em;

    background-color: red;
    color: white;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;
}


.cButtonDesign:hover {

    cursor: pointer;
    transition: 0.2s;
    background-color: darkred;
}

.cButtonGreen {
    background-color: green;
}

.cButtonGreen:hover {
    background-color: darkgreen;
}