.homeDesign {
    height: 88vh;
    width: 100vw;

    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    font-size: medium;
    color: whitesmoke
}