.homeDesign {
    /* height: 88vh; */
    height: auto;
    width: 100vw;

    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    flex-direction: column;
    font-size: medium;
    gap: 2em;
    /* color: whitesmoke */
}

.footerHome {
    height: auto;
    padding: 1em;
    width: 100%;
    font-size: .9em;
    margin: 0em;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 1.5em;
}

.socialIcons {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-bottom: 1em;
    gap: 3em;
}