.appointmentDesign {
    margin-top: 0em;
    /* height: 88vh;
    width: 100vw; */
    padding-inline: 2em;
    border-radius: 2em;
    border: 1px solid #ffffff40;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: medium;
    color: darkgray
}

.titleList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.titleContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.option {
    color: fuchsia;
    background-color: red;
}

.appointmentList {
    border: 1px solid #ffffff40;
    padding: 1em 2em;
    margin-bottom: 1em;
    border-radius: 1em;
}

.appointmentBox {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.dateAndError {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.addAppointment {
    background-color: transparent;
    border: none;
    display: flex
}

.errorDate {
    font-family: 'Trebuchet MS', Arial, sans-serif;

    height: 2.5em;
    width: 15em;

    border-radius: 2em;
    padding: .5rem 2rem;
    margin: 1em;

    background-color: red;
    color: white;
    text-decoration: none;

    font-size: 1em;
    font-weight: 500;
    box-shadow: 1.5px 1.5px 5px 0px red;
}

@media (prefers-color-scheme: light) {
    .appointmentDesign {
        color: black;
        border: 2px solid lightgray
    }

    .appointmentList {
        border: 2px solid lightgray
    }

}