.service-design {
    padding: 1em;
    /* height: 120vh; */

    padding-inline: 2em;
    gap: 1em;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
}

.box-service {
    padding-bottom: .5em;
    padding-right: 2em;
    display: flex;
    justify-content: space-between;
    gap: 1em;
}

.content-service {
    /* width: 50%; */
    /* background-color: blue; */
    margin: 2em;
}

.title-paragraph {
    font-size: 2.5em;
}

.title-service-name {
    font-size: 1.5em;
}

.title-paragraph,
.title-service-name {
    font-family: "New Rocker", system-ui;
}

.service-paragraph {
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 1.4em;
}

.description-service {
    font-size: 1em;
}

.service-paragraph,
.description-service {
    font-family: "Lancelot", serif;
}

.text-card-content {
    display: flex;
    flex-direction: column;
    gap: .1em;
}

.images-service {
    display: flex;
    width: 40%;
    align-items: center;
}

.right-side-img {
    display: flex;
    /* opacity: 1; */
    border-radius: 2em;
    min-width: 20%;
    max-width: 15em;
    transition: all .6s ease;
}


.grid-service {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 1em;
}

.card-service {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-items: center;
    transition: transform .6s ease;
}

.icon-service-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 1em;
}

.card-icon {
    background-color: deeppink;
    border-radius: 50%;

    padding: .5em;
    width: 63px;
    height: 63px;
}

.card-service:hover {
    opacity: .5;
    cursor: pointer;
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .service-design {
        padding: .5em;
        padding-inline: .2em;
        gap: .5em;
    }

    .grid-service {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, auto);
        gap: 1em;
    }

    .images-service {
        display: none;
    }

    .box-service {
        padding-bottom: .5em;
        padding-right: 1em;
        font-size: 1em;
    }

}