@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    box-sizing: border-box;
}


.card {
    height: 28vh;
    width: 20vw;
    display: flex;
    flex-direction: column;
    flex: 0 0 50%;
    /* border: 1px solid #ffffff40; */
    border-radius: 2em;
    box-shadow: 1.5px 1.5px 5px 0px rgba(255, 0, 238, 0.341);
    scroll-snap-align: end;
    transition: all 0.2s;

}

.card:not(:last-child) {
    margin-right: 1px;
}

.card:hover {
    box-shadow: 1px 1px 30px fuchsia;
    transition: 0.4s;
}

.card-title {

    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;

    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    font-size: 2em;
    padding-left: .5em;

    padding-bottom: 1.7em;
}

.card .card-title {


    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;

    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    font-size: 2em;
    padding-left: .5em;
    opacity: 1;
    padding-bottom: 1.7em;
}

/* .spacing {
    height: 20vh;

} */

.card .card-content {

    margin-inline: 1em;
    margin-top: 8em;
    max-width: 65%;
    padding-inline: 1em;

}


.cards::-webkit-scrollbar {
    height: 10px;
}

.cards::-webkit-scrollbar-thumb,
.cards::-webkit-scrollbar-track {
    border-radius: 92px;
}

.cards::-webkit-scrollbar-thumb {
    background: darkviolet;
}

.cards::-webkit-scrollbar-track {
    background: black;
}

@media (min-width: 300px) {
    .card {
        flex-basis: 65%;
        height: 90vh;
    }

    .card:not(:last-child) {
        margin-right: 8px;
    }
}

@media (min-width: 500px) {
    .card {
        width: 21vw;
    }

    .card:not(:last-child) {
        margin-right: 16px;
    }
}


@media (min-width: 700px) {
    .card {
        width: 21vw;
    }

    .card:not(:last-child) {
        margin-right: 18px;
    }
}

@media (min-width: 1000px) {
    .card {
        width: 50vw;
    }

    .card-content {
        width: 10em;
        font-weight: 700;
    }
}