* {
    box-sizing: border-box;
}

body {
    margin: 5px 0;
    overflow-x: hidden;
}

.card {
    height: 68vh;
    width: 20vw;
    display: flex;
    flex-direction: column;
    flex: 0 0 100%;
    padding: 2em;
    /* border: 1px solid #ffffff40; */
    border-radius: 2em;
    box-shadow: 1.5px 1.5px 5px 0px rgba(255, 0, 238, 0.341);
    scroll-snap-align: end;
    transition: all 0.2s;
}

.card:not(:last-child) {
    margin-right: 10px;
}

.card:hover {
    box-shadow: 1px 1px 30px fuchsia;
    transition: 0.4s;
}

.card .card-title {
    font-size: 1.3em;
    color: fuchsia
}

.card .card-content {
    margin: 2em 0;
    max-width: 85%;
}

.card .card-link-wrapper {
    margin-top: auto;
}

/* .card .card-link {
    display: inline-block;
    text-decoration: none;
    color: whte;
    background: var(--red);
    padding: 6px 12px;
    border-radius: 8px;
    transition: background 0.2s;
} */

/* .card:hover .card-link {
    background: var(--darkred);
} */

.cards::-webkit-scrollbar {
    height: 10px;
}

.cards::-webkit-scrollbar-thumb,
.cards::-webkit-scrollbar-track {
    border-radius: 92px;
}

.cards::-webkit-scrollbar-thumb {
    background: darkviolet;
}

.cards::-webkit-scrollbar-track {
    background: black;
}

@media (min-width: 500px) {
    .card {
        flex-basis: calc(50% - 10px);
    }

    .card:not(:last-child) {
        margin-right: 20px;
    }
}

@media (min-width: 700px) {
    .card {
        flex-basis: calc(calc(100% / 3) - 20px);
    }

    .card:not(:last-child) {
        margin-right: 30px;
    }
}

@media (min-width: 1100px) {
    .card {
        flex-basis: calc(25% - 30px);
    }

    .card:not(:last-child) {
        margin-right: 40px;
    }
}